body{
    background-color: #FAF7F0;
    color:black;
    line-height: 1.6;
    font-family: "Segoe UI", Roboto, sans-serif;
    margin: 0;
}

header{
    background-color: #F5E6D3;
}

.header-container{
    display: flex;
    justify-content:space-between;
    padding: 10px 30px;
    align-items: center;
}

.logo {
    margin-right: 50px;
}

nav {
    margin-top: 25px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    color: rgb(150, 117, 188);
    text-decoration: none;
}

h1, h2 {
    color: rgb(150, 117, 188);
    border-bottom: 2px #FAF;
    padding-bottom: 0.5rem;
    width: fit-content;
}

main{
    margin: 2rem;
    padding: 1rem;
    max-width: 1100px;
}

#home {
    margin: 2rem;
    padding: 1rem;
}

nav a:hover{
    color: #FAF;
}

.search-form {
    margin-top: 30px;
}

.search-form button {
    background-color: rgb(150, 117, 188);
    color: white;
    border: none;
    padding: 5px 10px;
}

.about-container,
.skills-container,
.projects-container,
.education-container,
.contact-container{
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 12 px black;
    margin bottom: 2rem;
}

#about,
#education,
#skills,
#projects {
    margin-bottom: 50px;
}

#about h1,
#education h1,
#skills h1,
#projects h1,
#contact h2 {
    margin-bottom: 8px;
}

#about p,
#projects p,
#contact p {
    margin-top: 0;
}

footer {
    margin-top: 20px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid black;
}

th,
td {
    padding: 10px 15px;
    text-align: center;
}